/*--------------------------------------------- home css ----------------------------------------------------------*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: blanchedalmond;
    font-family: "Poppins", sans-serif;
}
.body_container{
    height: 100vh;
    width: 100%;
    padding: 0px 0px;
}
::-webkit-scrollbar{
    display: none;
}
section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
#home{
    background-image: linear-gradient(60deg, #7938c9, #4932b2, #a33c99, #112b99);
    background-size: 400% 400%;
    animation: home_animate 15s ease infinite;
}
@keyframes home_animate {
    0%{
        background-position: 0% 85%;
    }
    50%{
        background-position: 100% 20%;
    }
    100%{
        background-position: 0% 85%;
    }
}
.iconsbg{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}
.iconsbg img:nth-child(1){
    top: 10%;
    animation: slide_left 20s linear infinite;
}
.iconsbg img:nth-child(2){
    top: 20%;
    animation: slide_left 12s linear infinite;
}
.iconsbg img:nth-child(3){
    top: 30%;
    animation: slide_left 17s linear infinite;
}
.iconsbg img:nth-child(4){
    top: 40%;
    animation : slide_left 15s linear infinite;
}
.iconsbg img:nth-child(5){
    top: 50%;
    animation: slide_left 18s linear infinite;
}
.iconsbg img:nth-child(6){
    top: 60%;
    animation: slide_left 20s linear infinite;
}
.iconsbg img:nth-child(7){
    top: 70%;
    animation: slide_left 15s linear infinite;
}
.iconsbg img:nth-child(8){
    top: 80%;
    animation: slide_left 19s linear infinite;
}
@keyframes slide_left{
    0%{
        left: 100%;
        transform: rotate(330deg);
        opacity: 0;
    }
    25%{
        left: 75%;
        transform: rotate(330deg);
        opacity: 0.5;
    }
    50%{
        left: 50%;
        transform: rotate(330deg);
        opacity: 1;
    }
    75%{
        left: 25%;
        transform: rotate(330deg);
        opacity: 0.5;
    }
    
    100%{
        left: 0%;
        transform: rotate(330deg);
        opacity: 0;
    }
}

.page_section{
    height: 70px;
    width: 98%;
    display: flex;
    position: fixed;
    top: 5px;
    left: 2%;
    background-color: rgb(0 0 0 / 38%);
    z-index: 2;
    backdrop-filter: blur(5px);
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    align-items: center;
}
.page_section h2{
    color: papayawhip;
    position: absolute;
    left: 30px;
    font-size: 20px;
}
.page_section ul{
    list-style: none;
    width: 100%;
    height: auto;
}
.page_section ul li{
    display: flex;
    float: right;
    margin: 0px 25px;
    font-size: 30px;
    position: relative;
    transform: translate(10px , -48px);
}
.page_section a{
    text-decoration: none;
    color: white;
}
#icontoggle{
    font-size: 45px;
    padding-bottom: 30px;
    padding-top: 0px;
    display: none;
}
.intro_block{
    position: absolute;
    z-index: 1;
    top: 14rem;
    left: 2rem;
}
.details_box{
    height: 200px;
    width: 200px;
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
}
.child1{
    position: absolute;
    top: 24.5rem;
    left: 2rem;
}
.child2{
    position: absolute;
    top: 24.5rem;
    left: 16rem;
}
.child3{
    position: absolute;
    top: 24.5rem;
    left: 30rem;
}

.icon1{
    height: 90px;
    width: 90px;
    position: absolute;
    transform: translate(50%, 18%);
}
.details_box h3{
    color: white;
    font-size: 20px;
    width: fit-content;
    transform: translate(20%, 150px);
}
.details_box hr{
    border: black 2px solid;
    width: 50%;
    transform: translate(50%, 85px);
}

.details_box p{
    color: cyan;
    font-size: 15px;
    padding: 10px 10px;
    display: none;
    transform: translate(10px, 95px);
}
#nav-dots{
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

#nav-dots ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-dots li {
    width: 10px;
    height: 10px;
    background-color: #aaa;
    border-radius: 50%;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#nav-dots li.active {
    background-color: #fff;
}
#category{
        background-image: linear-gradient(60deg,rgb(0, 132, 255) , rgb(0, 255, 55));
        background-size: 400% 400%;
        animation: home_animate 15s ease infinite;

    @keyframes home_animate {
        0%{
            background-position: 0% 85%;
        }
        50%{
            background-position: 100% 20%;
        }
        100%{
            background-position: 0% 85%;
        }
    }
}

/*--------------------------------------------- connect css ----------------------------------------------------------*/

.multi_Steps{
    height: 400px;
    max-width: 380px;
    position: relative;
    padding: 0px 0px;
    overflow: hidden;
    transform: translateY(40%);
    background-color: #4932b2;
    border-radius: 20px;
}
.form_container{
    height: 400px;
    width: 380px;
    display: flex;
    transition: 0.5s ease;
    position: absolute;
}
.multi_Steps form{
    position: relative;
    min-width: 380px;
    padding: 0px 10px;
}


/*
#home { background: #4CAF50; }
#category { background: #2196F3; }
#about { background: #FF9800; }
#contact { background: #F44336; }

#dot-nav {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

#dot-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#dot-nav li {
    width: 10px;
    height: 10px;
    background-color: #aaa;
    border-radius: 50%;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#dot-nav li.active {
    background-color: #fff;
}
*/
